Package: parrot-interface
Version: 3.1+parrot0
Architecture: amd64
Maintainer: Lisetta "Sheireen" Ferrero <sheireen@frozenbox.org>
Installed-Size: 42
Depends: xinit, xorg, parrot-interface-common, parrot-mate | parrot-xfce | parrot-lxde | parrot-kde | parrot-gnome
Suggests: parrot-interface-full
Section: info
Priority: optional
Homepage: http://www.parrotsec.org/
Description: Parrot interface metapackage
 metapackage that installs the graphic interface selected by frozenbox dev team
