Package: parrot-kde
Source: parrot-interface
Version: 3.1+parrot0
Architecture: amd64
Maintainer: Lisetta "Sheireen" Ferrero <sheireen@frozenbox.org>
Installed-Size: 42
Depends: parrot-interface-common, kde-plasma-desktop, plasma-desktop, kdm
Section: info
Priority: optional
Homepage: http://www.parrotsec.org/
Description: KDE based Parrot desktop
 This metapackage installs a minimalistic KDE desktop on Parrot Security OS.
