Package: parrot-xfce
Source: parrot-interface
Version: 3.1+parrot2
Architecture: all
Maintainer: Lisetta "Sheireen" Ferrero <sheireen@frozenbox.org>
Installed-Size: 42
Depends: parrot-interface-common, xfce4, lightdm, network-manager-gnome
Section: info
Priority: optional
Homepage: http://www.parrotsec.org/
Description: XFCE based Parrot destop
 This metapackage installs a minimalistic XFCE desktop on Parrot Security OS.
