Package: parrot-interface
Version: 3.1
Architecture: all
Priority: optional
Maintainer: Lisetta "Sheireen" Ferrero <sheireen@frozenbox.org>
Depends: xinit, xorg, parrot-interface-common, parrot-mate | parrot-xfce | parrot-lxde | parrot-kde | parrot-gnome
Suggests: parrot-interface-full
Section: parrot
Description: Parrot interface metapackage
 metapackage that installs the graphic interface selected by frozenbox dev team
