#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Keyboard Layout Selector
Comment=Keyboard layout selector for Parrot OS
Icon=preferences-desktop-keyboard-shortcuts
Exec=/usr/bin/keyboard-selector
Terminal=false
Type=Application
Categories=
X-MATE-Autostart-enabled=true
