Source: parrot-interface
Priority: optional
Maintainer: Lisetta "Sheireen" Ferrero <sheireen@frozenbox.org>
Uploaders: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>,
           Lisetta "Sheireen" Ferrero <sheireen@frozenbox.org>
Standards-Version: 3.9.6
Section: info
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: pkg-config
Homepage: http://www.parrotsec.org/

Package: parrot-interface
Architecture: any
Depends: xinit, xorg, parrot-interface-common, parrot-mate | parrot-xfce | parrot-lxde | parrot-kde | parrot-gnome
Suggests: parrot-interface-full
Description: Parrot interface metapackage
 metapackage that installs the graphic interface selected by frozenbox dev team

Package: parrot-interface-common
Architecture: any
Depends: xinit, xorg, parrot-wallpapers, parrot-themes, parrot-menu, parrot-skel, parrot-update-manager
Recommends: abiword, bleachbit, bluetooth, bluez, blueman, dconf-editor, debmod, desktop-base, ffmpegthumbnailer, gdebi, gnumeric, gpa, gparted, hexchat, iceweasel-frozenmod, libnotify-send, lightdm-parrot, parrot-conky, parrot-sounds, parrot-welcome, synaptic, ssvnc, xboard, polyglot, crafty, geany, dvd+rw-tools, udftools
Suggests: parrot-interface-full
Description: Parrot interface metapackage
 metapackage that installs the graphic interface selected by frozenbox dev team

Package: parrot-interface-full
Architecture: any
Recommends: gimp, pidgin, transmission-gtk, hexchat, libreoffice, brasero, totem, rhythmbox, remmina, baobab, seahorse, codeblocks, qtcreator, qconf, qt5-qmake, qt5-default, qmlscene, qtbase5-dev, icedove, enigmail
Description: Parrot FULL Interface metapackage
 metapackage that installs ALL the user applications required in a standard
 home computer as photo manager, music manager, video editor, email client, office suite etc

Package: parrot-gnome
Architecture: any
Depends: parrot-interface-common, gnome-core, gedit, gnome-brave-icon-theme, gnome-shell-extensions, gnome-shell-extension-proxyswitcher, gnome-shell-extension-dashtodock, gnome-shell-extension-refreshwifi, gnome-shell-extension-easyscreencast, gnome-shell-extension-workspacestodock, gnome-tweak-tool, nautilus-pastebin, nautilus-wipe, nautiluscompare, nautilus-gtkhash , gnome-orca, file-roller, gnome-calculator
Description: GNOME based Parrot desktop
 This metapackage installs a minimalistic GNOME desktop on Parrot Security OS.

Package: parrot-kde
Architecture: any
Depends: parrot-interface-common, kde-plasma-desktop, plasma-desktop, kdm
Description: KDE based Parrot desktop
 This metapackage installs a minimalistic KDE desktop on Parrot Security OS.

Package: parrot-lxde
Architecture: any
Depends: parrot-interface-common, lxde
Description: LXDE based Parrot destop
 This metapackage installs a minimalistic LXDE desktop on Parrot Security OS.

Package: parrot-mate
Architecture: any
Depends: mate-core, parrot-interface-common
Recommends: atril, caja-gksu, caja-image-converter, caja-open-terminal, caja-sendto, caja-share, engrampa, eom, ffmpegthumbnailer, gnumeric, mate-applets, mate-bluetooth, mate-desktop-gnome, mate-indicator-applet, mate-media, mate-netspeed, mate-notification-daemon, mate-power-manager, mate-screensaver, mate-sensors-applet, mate-system-monitor, mate-system-tools, mate-themes, mate-user-share, mate-utils, mozo, network-manager-gnome | wicd, pluma
Suggests: parrot-interface-full
Description: Parrot interface metapackage
 metapackage that installs the graphic interface selected by frozenbox dev team

Package: parrot-xfce
Architecture: any
Depends: parrot-interface-common, xfce4, lightdm, network-manager-gnome
Description: XFCE based Parrot destop
 This metapackage installs a minimalistic XFCE desktop on Parrot Security OS.
