Source: parrot-interface
Priority: optional
Maintainer: Parrot Devel Team <parrot-devel@lists.parrotsec.org>
Uploaders: Lorenzo "Palinuro" Faletra <palinuro@parrotsec.org>,
           Lisetta "Sheireen" Ferrero <sheireen@parrotsec.org>
Standards-Version: 3.9.8
Section: info
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: pkg-config
Homepage: http://www.parrotsec.org/

Package: parrot-interface
Architecture: all
Depends: xinit, xorg, parrot-interface-common, parrot-mate | parrot-interface-stub | parrot-cinnamon | parrot-xfce | parrot-lxde | parrot-kde | parrot-gnome
Suggests: parrot-interface-full
Description: Parrot interface metapackage
 metapackage that installs the graphic interface

Package: parrot-interface-common
Architecture: all
Depends: xinit, xorg, xserver-xorg-input-all, xserver-xorg-input-multitouch, xserver-xorg-input-synaptics, parrot-wallpapers, parrot-themes, parrot-menu, parrot-skel, parrot-updater
Recommends: abiword, bleachbit, bluetooth, bluez, blueman, dconf-editor, desktop-base, ffmpegthumbnailer, gdebi, geany, gnumeric, gpa, gparted, hexchat, irssi, firefox | firefox-esr, xul-ext-noscript, xul-ext-useragentswitcher, xul-ext-ublock-origin, xul-ext-torbirdy, libnotify-send, lightdm-parrot | sddm | gdm3, synaptic, xboard, polyglot, crafty, dvd+rw-tools, udftools, system-config-printer, system-config-lvm, policycoreutils-gui, onboard, pulseaudio, alsa-base, alsa-tools, alsa-utils
Suggests: parrot-interface-full
Breaks: iceweasel-frozenmod
Replaces: iceweasel-frozenmod, firefox-esr, firefox, iceweasel
Description: Parrot interface metapackage
 metapackage that installs the graphic interface

Package: parrot-interface-full
Architecture: all
Recommends: pidgin, transmission-gtk, hexchat, libreoffice, brasero, remmina, baobab, seahorse, qtcreator, qconf, qt5-qmake, qt5-default, qmlscene, qtbase5-dev, icedove, enigmail, cups
Description: Parrot FULL Interface metapackage
 metapackage that installs ALL the user applications required in a standard
 home computer as photo manager, music manager, video editor, email client, office suite etc

Package: parrot-gnome
Architecture: all
Depends: parrot-interface-common, gnome-core, gedit, gnome-brave-icon-theme, gnome-shell-extensions, gnome-shell-extension-proxyswitcher, gnome-shell-extension-dashtodock, gnome-shell-extension-refreshwifi, gnome-shell-extension-easyscreencast, gnome-shell-extension-workspacestodock, gnome-tweak-tool, nautilus-wipe, nautilus-gtkhash, gnome-orca, file-roller, gnome-calculator
Recommends: gdm3
Description: GNOME based Parrot desktop
 This metapackage installs a minimalistic GNOME desktop on Parrot Security OS.

Package: parrot-kde
Architecture: all
Depends: parrot-interface-common,
 kde-plasma-desktop,
 plasma-nm,
 sddm
Recommends: lightdm-parrot
Description: KDE based Parrot desktop
 This metapackage installs a minimalistic KDE desktop on Parrot Security OS.

Package: parrot-lxde
Architecture: all
Depends: parrot-interface-common, lxde
Recommends: task-lxde-desktop, libcanberra-gtk3-module, libcanberra-gtk-module
Description: LXDE based Parrot destop
 This metapackage installs a minimalistic LXDE desktop on Parrot Security OS.

Package: parrot-mate
Architecture: any
Depends: mate-core, parrot-interface-common
Recommends: atril, breeze-cursor-theme, caja-gksu, caja-image-converter, caja-open-terminal, caja-sendto, caja-share, caja, engrampa, eom, ffmpegthumbnailer, gnome-system-tools, gnumeric, mate-applets, mate-applet-topmenu, mate-indicator-applet, mate-media, mate-menu, mate-netspeed, mate-notification-daemon, mate-optimus, mate-polkit-bin, mate-power-manager, mate-screensaver, mate-sensors-applet, mate-sensors-applet-nvidia, mate-system-monitor, mate-system-tools, mate-sensors-applet, mate-tweak, gtk3-engines-breeze, gtk3-engines-oxygen, mate-user-share, mate-utils, mozo, network-manager-gnome | wicd, pluma
Suggests: parrot-interface-full
Description: Parrot interface metapackage
 metapackage that installs the graphic interface

Package: parrot-cinnamon
Architecture: all
Depends: parrot-interface-common, cinnamon-desktop-environment
Recommends: task-cinnamon-desktop
Description: CINNAMON based Parrot destop
 This metapackage installs a minimalistic CINNAMON desktop on Parrot Security OS

Package: parrot-xfce
Architecture: all
Depends: parrot-interface-common,xfce4,
 xfce4-terminal,
 xfce4-power-manager-plugins,
 network-manager-gnome,
Recommends: task-xfce-desktop,
 libcanberra-gtk3-module,
 libcanberra-gtk-module
Description: XFCE based Parrot destop
 This metapackage installs a minimalistic XFCE desktop on Parrot Security OS
 
Package: parrot-interface-stub
Architecture: all
Description: stub/empty package for parrot-interface
 This is a stub/empty package that, if installed, allows the removal of the default
 desktop environment without causing the removal of parrot-interface and parrot-interface-common
