Package: parrot-lxde
Source: parrot-interface
Version: 3.1+parrot2
Architecture: all
Maintainer: Lisetta "Sheireen" Ferrero <sheireen@frozenbox.org>
Installed-Size: 42
Depends: parrot-interface-common, lxde
Section: info
Priority: optional
Homepage: http://www.parrotsec.org/
Description: LXDE based Parrot destop
 This metapackage installs a minimalistic LXDE desktop on Parrot Security OS.
